:root {
  --color-border-card: lightgrey;
  --color-btn-delete: rgba(255, 0, 0, 0.715);
  --color-btn-submit: rgba(0, 60, 255, 0.642);
  --height-input: 25px;
  --btn-expand-width: 50px;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
li {
  list-style-type: none;
}
.app__container {
  display: flex;
}

.booklist {
  width: 80%;
  height: auto;
}

.img--responsive {
  width: 25%;
  height: 25%;
}

.text--bold {
  font-weight: bold;
}

.book--info__container {
  margin: 1% 5% 5% 5%;
  display: flex;
  padding: 1%;
  border: 1px solid var(--color-border-card);
  box-shadow: 1px 1px 1px 1px var(--color-border-card);
  border-radius: 2%;
  position: relative;
  height: auto;
}

.book--info__container:hover {
  cursor: pointer;
}

.book--text__container {
  margin: 4%;
  width: 50%;
  min-height: 30vh;
}

.book--text__container > p {
  margin: 4%;
}

.wishlist__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wishlist--item__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3px;
}

.wishlist--item__container:hover {
  cursor: pointer;
}

button {
  border: 0;
  border-radius: 10%;
  padding: 3px;
  margin: 2px;
}

.btn--delete {
  background-color: var(--color-btn-delete);
}

.btn--submit {
  height: var(--height-input);
  background-color: var(--color-btn-submit);

}

.btn--expand {
  height: 25px;
  width: var(--btn-expand-width);
  position: absolute;
  left: calc(50% - var(--btn-expand-width) / 2);
  bottom: 0;
}

input[type="text"] {
  height: var(--height-input);

}

form {
  margin-left: calc(25%);
  margin-top: 2%;
}

.text-center {
  text-align: center;
}

.header__container {
  display: flex;
  align-items: baseline;
}

.link--text{
  color: black;
  text-decoration: none;
  margin: 5px;
}